In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

C:\anaconda3\envs\ml-zoomcamp\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
%matplotlib inline

Question 1

What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

In [3]:
np.__version__

'1.23.2'

Getting the data

For this homework, we'll use the Car price dataset. Download it from https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv .

Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

    16
    6572
    11914
    18990

In [4]:
df = pd.read_csv('data.csv')
df.shape[0]

11914

Question 3

Who are the most popular car manufacturers (top-3) according to the dataset?

    Chevrolet, Volkswagen, Toyota
    Chevrolet, Ford, Toyota
    Ford, Volkswagen, Toyota
    Chevrolet, Ford, Volkswagen

In [5]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
df['Make'].value_counts().nlargest(3) # df['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

Question 4

What's the number of unique Audi car models in the dataset?

    3
    16
    26
    34

In [7]:
df[df['Make']=="Audi"]["Model"].nunique()

34

Question 5

How many columns in the dataset have missing values?

    5
    6
    7
    8

In [8]:
df.isna().any().sum()
# len(df.loc[:, df.isna().any()].columns) 
# len(df.columns[df.isna().any()]) 
# df.isnull().any().sum() 
# df.isna().sum().nlargest().count()

5

Question 6

    Find the median value of "Engine Cylinders" column in the dataset.
    Next, calculate the most frequent value of the same "Engine Cylinders".
    Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
    Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

    Hint: refer to existing mode and median functions to complete the task.

    Yes
    No

In [9]:
df['Engine Cylinders'].median()

6.0

In [10]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [11]:
df['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [12]:
df['Engine Cylinders'].isna().value_counts()

False    11884
True        30
Name: Engine Cylinders, dtype: int64

In [13]:
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0],axis=0,inplace=True)

In [14]:
df['Engine Cylinders'].value_counts()

4.0     4782
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [15]:
df['Engine Cylinders'].isna().value_counts()

False    11914
Name: Engine Cylinders, dtype: int64

In [16]:
df['Engine Cylinders'].median()

6.0

No, the median has not changed

Question 7

    Select all the "Lotus" cars from the dataset.
    Select only columns "Engine HP", "Engine Cylinders".
    Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Invert XTX.
    Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the value of the first element of w?

    Note: You just implemented linear regression. We'll talk about it in the next lesson.

    -0.0723
    4.5949
    31.6537
    63.5643

In [17]:
df_lotus = df[df['Make']=='Lotus']

In [18]:
lotus = df_lotus[['Engine HP','Engine Cylinders']]

In [19]:
lotus.drop_duplicates(inplace=True)
lotus.shape

(9, 2)

In [20]:
X = lotus.to_numpy()

In [21]:
XTX = np.matmul(X.T, X)

In [22]:
inv_XTX = np.linalg.inv(XTX)

In [23]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [24]:
w = np.matmul(np.matmul(inv_XTX, X.T), y)

In [25]:
w[0]

4.594944810094579